db_user=
db_password=
db_name=

redis_password=

# JWT secret
secret_key=

# encryption key
fernet_key=

# RAG service URL
rag_service_url="https://rag-engine-api-173690049028.europe-west4.run.app"
internal_secret=