db_user=
db_password=
db_name=

redis_password=

# JWT secret
secret_key=

# encryption key
fernet_key=

# RAG URL
rag_service_url=

# secret key for auth between other services and core interanl endpoints
core_internal_secret=

# Channel Gateway public URL (for Telegram webhook registration)
gateway_service_url= 
telegram_webhook_secret= 
